.main {
	padding-left:315px;
}

.grey-banner {
	background-color:var(--light-grey);
}

.log-out {
	font-family: "Segoe UI", "Arial", sans-serif;
	height:75px;
}

.log-out a {
	display:block;
	padding-top:25px;
	text-align:right;
	color:var(--black);
	margin-right:25px;
}

.log-out a:hover {
	text-decoration:none;
}

.page-heading {
	color: var(--dark-grey);
	margin-bottom: 40px;
}

.page-heading h1 {
	font-family: "Agenda", "Arial", sans-serif;
	font-weight: bold;
}

.page-heading p {
	font-family: "Segoe UI", "Arial", sans-serif;
}

table {
	width:100%;
	background-color:var(--light-grey);
}

table th {
	border-bottom: 1px solid var(--border-colour);
	padding:10px;
	text-align: center;
}

table td {
	padding:5px;
}

table .left {
	text-align:left;
}

table .center {
	text-align:center;
}

table .right {
	text-align:right;
}

/* Buttons */
button:focus {
	outline: 0px transparent !important;
}

.btn-label {
	position:relative;
	left:-12px;
	display:inline-block;
	padding: 6px 12px;
	background: rgba(0,0,0,0.15);
	border-radius: 3px 0 0 3px;
}

.btn-labeled {
	padding-top:0;
	padding-bottom:0;
}

.btn {
	margin-bottom:10px;
}

.btn-right {
	float:right;
}