.main {
	padding-left:315px;
}

.grey-banner {
	background-color:var(--light-grey);
}

.log-out {
	font-family: "Segoe UI", "Arial", sans-serif;
	height:75px;
}

.log-out a {
	display:block;
	padding-top:25px;
	text-align:right;
	color:var(--black);
	margin-right:25px;
}

.log-out a:hover {
	text-decoration:none;
}

.page-heading {
	color: var(--dark-grey);
	margin-bottom: 40px;
}

.page-heading p {
	font-family: "Segoe UI", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Agenda", "Arial", sans-serif;
	font-weight: bold;
	color: var(--dark-grey);
}

table {
	width:100%;
	background-color: --var(--background-color);
	border: 1px solid;
	border-color: --var(--black);
}

thead, thead th {
	background-color:#E0E0E0;
	border: 1px solid #000000;
	padding:10px;
	text-align: center;
}

tbody {
	border: 1px dashed #AAAAAA;
}

tr, td {
	border: 1px dashed #AAAAAA;
	border-radius: 3px
}

td {
	padding:5px;
}

table .left {
	text-align:left;
}

table .center {
	text-align:center;
}

table .right {
	text-align:right;
}

table .narrow {
	width: 10%;
}

table .standard {
	width: 20%;
}

table .wide {
	width:40%;
}

table .checkmark {
	width:5%;
}

table .delete {
	color: --var(--black);
}

table a.delete {
	color: #333333;
}

/* Buttons */
button:focus {
	outline: 0px transparent !important;
}

.btn-label {
	position:relative;
	left:-12px;
	display:inline-block;
	padding: 6px 12px;
	background: rgba(0,0,0,0.15);
	border-radius: 3px 0 0 3px;
}

.btn-labeled {
	padding-top:0;
	padding-bottom:0;
}

.btn {
	margin-bottom: 5px;
    margin-top: 5px;
}

.btn-right {
	float:right;
}