/* my fonts */
@font-face {
	font-family: "Agenda";
	src:url(../fonts/AgendaMedium.ttf);
}

.main {
	padding-left:315px;
}

.grey-banner {
	background-color:#E0E0E0;
}

.log-out {
	height:75px;
}

.log-out a {
	display:block;
	padding-top:25px;
	text-align:right;
	color:#000000;
	margin-right:25px;
}

.log-out a:hover {
	text-decoration:none;
}

/** buttons - may need own stylesheet **/
.btn-label {
	position:relative;
	left:-12px;
	display:inline-block;
	padding: 6px 12px;
	background: rgba(0,0,0,0.15);
	border-radius: 3px 0 0 3px;
}

.btn-labeled {
	padding-top:0;
	padding-bottom:0;
}

.btn {
	margin-bottom:10px;
}