#dropzone-uploader {
	width:100%;
	background-color:#C5F0FE;
	min-height:100px;
	border: 1px dashed #2B303A;
	text-align:center;
}

#dropzone-uploader i {
	font-size:2.0em;
	color:#606060;
	margin-right:10px;
}

#dropzone-uploader:hover {
	background-color:#86DDFA;
}

.uploader-text {
	display:inline-block;
	text-align:center;
	font-size:2.0em;
	font-weight:bold;
	color:#606060;
	margin-top:30px;
}

/** Image preview CSS **/
#dropzone-previews {
	margin-top:10px;
}

.dz-image-preview {
	margin-top:2px;
	padding-top:5px;
	padding-bottom: 5px;
}

.dz-image-preview .name {
	margin-top:20px;
}

.dz-image-preview .size {
	font-weight:bold;
}

.dz-image-preview .progress {
	margin-top:40px;
}

.dz-image-preview .delete {
	display: block;
    text-align: center;
    margin-top: 40px;
}

#template {
	display:none;
}