#dropzone-uploader {
	width:100%;
	background-color:#C5F0FE;
	min-height:100px;
	border: 1px dashed #2B303A;
	text-align:center;
	margin-bottom:40px;
}

#dropzone-uploader i {
	font-size:2.0em;
	color:#606060;
	margin-right:10px;
}

#dropzone-uploader:hover {
	background-color:#86DDFA;
}

.uploader-text {
	display:inline-block;
	text-align:center;
	font-size:2.0em;
	font-weight:bold;
	color:#606060;
	margin-top:30px;
}

.dropzone-previews.hidden {
	display:none;
}

/** Image preview CSS **/
#dropzone-previews {
	margin-top:10px;
	background-color: var(--light-grey);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#dropzone-previews .preview img {
	height:100px;
	width:150px;
}

#dropzone-previews>div {
	padding-bottom: 10px;
}

#dropzone-previews .full-height {
	height:100px;
}

#dropzone-previews .preview .name {
	margin-top:20px;
}

#dropzone-previews .preview .size {
	font-weight:bold;
}

#dropzone-previews .progress {
	margin-top:40px;
}

#dropzone-previews .delete {
	display: block;
    text-align: center;
    margin-top: 40px;
}

#template {
	display:none;
}

#actions {
	text-align: right;
}