label {
	font-family:"Segoe UI", "Arial", sans-serif;
	margin-top:5px;
	font-weight:bold;
	color: var(--form-label-colour);
}

input, select {
	font-family:"Segoe UI", "Arial", sans-serif;
}

input[type="checkbox"] {
	width:25px;
	height:25px;
}

.form-control {
	font-size:14px;
	color: var(--form-control-placeholder);
}

button.submit {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:150px;
	height:50px;
	border-radius:3px;

	/* Colours */
	background-color: var(--submit-button-color);
	border: 1px solid var(--submit-button-color);

	/* Font */
	font-size:1.3em;
	font-family: "Segoe UI", "Arial", sans-serif;
    font-weight: bold;
	color:var(--submit-button-text-colour);
}

button.submit:hover {
	background-color: var(--submit-button--hover-color);
	border: 1px solid var(--submit-button--hover-color);
}

.form-submit-group {
	margin-top:50px;
}

/* Datepicker */
#ui-datepicker-div {
	font-family: "Segoe UI", "Arial", sans-serif;
}

.ui-datepicker-calendar td {
	border:0px;
	padding:0px;
	width:33px;
}

.ui-datepicker-calendar td a {
	text-align:center;
}

/* Tags */
.bootstrap-tagsinput {
	width:100%;
}