.route-map-area .modal-title {
	line-height: 1;
	padding-top:3px;
	padding-bottom:0px;
	padding-left:0px;
	margin-top:0px;
}

#route-map .btn {
	margin-top:0px;
}

#route-waypoints, #route-markers {
	background-color:var(--white);
	overflow-x:hidden;
	overflow-y:scroll;
}

#route-waypoints .route-waypoints-list, #route-markers .route-markers-list {
	list-style:none;
}

#route-waypoints .route-waypoints-list li span, #route-markers .route-markers-list li span  {
	width:320px;
	display:inline-block;
	margin-left:20px;
}

#route-waypoints input {
	max-width:100%;
	border: 1px solid var(--dark-grey);
}

/**  Temp   **/
#route-waypoints, #route-markers {
	border: 1px solid black;
}