.modal-title {
	line-height: 1;
	padding-top:3px;
	padding-bottom:0px;
	padding-left:0px;
	margin-top:0px;
}

#route-map .btn {
	margin-top:0px;
}

#route-waypoints, #route-markers {
	background-color: var(--sidenav-background-colour);
	padding-top:15px;
	padding-bottom:15px;
}

#route-waypoints h5, #route-markers h5 {
	margin-top:0px;
	margin-left:10px;
}

#route-waypoints p, #route-markers p {
	margin-left:10px;
}

#route-waypoints .route-waypoints-list, #route-markers .route-markers-list {
	list-style:none;
}

#route-waypoints .route-waypoints-list li span, #route-markers .route-markers-list li span  {
	width:200px;
	display:inline-block;
	margin-left:20px;
}

#route-waypoints li a, #route-markers li a {
    margin-right: 5px;
}

#route-waypoints input, #add-route-marker input {
	max-width:100%;
	border: 1px solid var(--dark-grey);
}

#route-waypoints button, #route-markers button {
	margin-right:5px;
}

.waypoint-actions {
	display:inline-block;
	float:right;
}

.waypoint-actions .edit {
	color:var(--light-grey);
}

/* Override the mCustomScrollbar background rail */
.mCSB_draggerRail {
	background-color: var(--white) !important;
}