#route-map-area {
	display:block;
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	background:rgba(0,0,0,0.8);
}

#route-map {
	height:200px;
	width:100%;
	background-color:red;
}

#route-map .btn {
	margin-top:0px;
}

.close-map {
	width:100%;
	height:82px;
}

#route-map-close {
	margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float:right;
	font-size:2.0em;
	display: inline-block;

	color: var(--white);
}

#route-waypoints {
	background-color:var(--white);
}

#route-waypoints .route-waypoints-list {
	list-style:none;
}

#route-waypoints .route-waypoints-list li span {
	width:320px;
	display:inline-block;
	margin-left:20px;
}

#route-waypoints input {
	max-width:100%;
	border: 1px solid var(--dark-grey);
}

/**  Temp   **/
#map-area, #route-waypoints, #route-markers {
	border: 1px solid black;
}